{% extends 'layout.html' %}

{% block body %}

<h1>About us.</h1>
<p>

Andela’s mission is to advance human potential by powering today’s teams and investing in tomorrow’s leaders.

 

In the next ten years, there will be 1.3M software development jobs created and only 400,000 domestic computer science graduates, to fill them. Africa, meanwhile, is home to the largest untapped talent pool and seven of the 10 fastest growing internet populations in the world.

 

We founded Andela in 2014 to build a network of technology leaders on the African continent and bridge the divide between the U.S and African tech sectors. Leveraging a proven, data-driven approach, we build high-performing engineering teams with Africa’s top developers to help companies overcome the tech talent shortage and build better products, faster.
</p>

{% endblock %}